<% include ./partials/header %>
  <div>
    <p>Question:</p>
    Solve: <%- question %>
  </div>
  <div>
    <p>Answer:</p>
    <form action="/check/" method="post" class="forms">
      <input name="answer" type="text" autofocus />
      <input name="question" type="hidden" value="<%- question %>" />
      <input type="submit" value="Submit">
    </form>
  </div>
<% include ./partials/footer %>
