<% include ./partials/header %>
  <div>
    <p>Question:</p>
    <div id="question"></div>
    Solve: <%- question %>
  </div>
  <div>
    <p>Answer:</p>
    <div id="answer"></div>
    <form action="/action_page.php">
      <input type="text" name="answer">
      <input type="submit" value="Submit">
    </form>
  </div>
<% include ./partials/footer %>
