<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Davis Math Quiz Generator</title>
    <link rel="stylesheet" href="/math/main.css">
  </head>

  <body>
    <div>
      <p>Question:</p>
      <div id="question"></div>
      snatoehusntaohesunthaoesnutho
    </div>
    <div>
      <p>Answer:</p>
      <div id="answer"></div>
    </div>
  </body>
</html>
